@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #001E3C;
    color: #fff;
}

.column {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc(120px * 3);
    height: 48px;
    background-color: #0059B2;
    border: 1px solid #c2e0ff;
    margin: 2em 0;
    border-radius: 8px;

    a {
        color: #c2e0ff;
        text-decoration: none;
        font-size: 1rem;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 600;
    }

    a:hover {
        color: #fff;
    }
}